<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Shamp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl">
         <span style="font-size: 30px; cursor: pointer; color: white" onclick="opennav()">&#9776;</span>
         <div class="sidenavmenu" id="nav">
              <a class="closebtn" href="javascript:void(0)" onclick="closenav()">&times; </a>
             <a asp-action="Index" asp-Controller="Admin">Inico</a>
             <a asp-action="Index" asp-Controller="Slide">Slider</a>
             <a >Productos </a>
             <ul>
                 <li><a asp-action = "Index" asp-controller="Producto">Crear</a></li>
                 <li><a asp-action = "editar" asp-controller="Admin">Editar</a></li>
             </ul>
             <a asp-action="reporte" asp-Controller="Admin">Reportes de Productos</a>
             <a asp-action="usuario" asp-Controller="Admin">Usuario</a>
             <a asp-action="pedidos" asp-Controller="Admin">Pedidos</a>
         </div>
         <div class="col-md-3">
                <a asp-action="Index" asp-controller="Home"><img src="/img/logo.png" height="50" width="100" /></a>
            </div>
           <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <div style="color:white; font-weight:bold;" class="col-md-2">
                <a >Bienvenido Administrador</a>
            </div>
            <div class="col-md-2">
                <a asp-action="Carrito" asp-controller="Home"><img src="/img/carrito.png" height="50" width="90" /></a>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footer-copyright text-center py-3">
                &copy; @DateTime.Now.Year- Champ
            </div>
        </div>
    </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
