@model ChampApp.Models.Productos
<style>
    body{
        background: rgb(219, 226, 226);
    }
    .row{
        background: white;
        border-radius: 30px;
    }
    img{
        border-top-left-radius: 30px; 
        border-bottom-left-radius : 30px; 
    }
</style>
<div class="Container">
    <div class="row">
    <div class="col-8">
    <div class="row no-gutters">
            <div class="col-lg-6">
                <img src="~/img/Producto/@Html.DisplayFor(item => item.foto)" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="font-weight-bold py-3">@Html.DisplayFor(item => item.nombre)</h1>
                <h2>Descripcion:</h2>
                <p>@Html.DisplayFor(item => item.descripcion)</p>
                <br />
               <h2>Precio</h2>
               <input type="number" placeholder="Cantidad de producto" class="form-control">
               <h2>RD$ @Html.DisplayFor(item => item.precio)</h2>
        </div>
   </div>
</div>
            
<div class="col-4">
    <partial name="/Views/Shared/_paypal.cshtml" />
</div>
            
</div>
</div>


        
                
    

            



    