@model IEnumerable<ChampApp.Models.Productos>
  
        <div>
            @foreach (var item in Model)
            {
                <div class="card" style="width: 30rem;">
                    <div class="inner">
                        <img class="img-fluid " src="@Html.DisplayFor(modelItem => item.foto)" alt="Productos">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
                        <h6 class="card-text">RD$ @Html.DisplayFor(modelItem => item.precio)</h6>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
                        <a asp-action="Detalle" asp-controller="Producto" class="btn btn-primary">Ver producto</a>
                    </div>
                </div>
            }
        </div>
    